doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="bower_components/angular-animate/angular-animate.js")
        script( src="js/animations.js")
        script( src="bower_components/jquery/dist/jquery.js")
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/global.js')
        
